install
text
skipx
unsupported_hardware

keyboard us
lang en_US.UTF-8
timezone --utc Etc/UTC

network --device=em0 --bootproto=dhcp
firewall --enable --ssh
selinux --permissive

rootpw --plaintext vagrant --lock
user --name=vagrant --plaintext --password vagrant
auth --enableshadow --passalgo=sha512 --kickstart

bootloader --location=mbr
zerombr
clearpart --all
part biosboot   --size=1            --fstype biosboot
part /boot      --size=1024         --fstype xfs
part /tmp       --size=1024         --fstype xfs
part pv.01      --size=18431 --grow
volgroup vg_root pv.01
logvol /        --size=18431 --grow --fstype xfs --vgname=vg_root --name=lv_root	

url --url https://mirrors.kernel.org/centos/7/os/x86_64
repo --name="updates"   --baseurl=https://mirrors.kernel.org/centos/7/updates/x86_64
repo --name="extras"    --baseurl=https://mirrors.kernel.org/centos/7/extras/x86_64
repo --name="fasttrack" --baseurl=https://mirrors.kernel.org/centos/7/fasttrack/x86_64

firstboot --disabled
reboot

%packages --nobase
kernel
grub2
bash
yum
vim-minimal
centos-release
shadow-utils
initscripts
openssh-server
rsyslog
cronie
firewalld
epel-release
-*firmware
%end

%post
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers

# centos fasttrack repo
sed -i 's/enabled=0/enabled=1/' /etc/yum.repos.d/CentOS-fasttrack.repo
%end

# EOF
